@model IEnumerable<UIUXLayer.Models.ModelClass>
<link rel="stylesheet" href="~/css/viewemployee.css" />
    <div class=" =wrapper">
        
        <div class="EmployeeContainer">
            @foreach (var item in Model) {
                <div class="PaddingClass">
                    <div class="IndivitualEmployee">
                        <div class="ImageClass">
                            <img class="ProfilePhoto" src="../WIN_20220109_20_20_01_Pro.jpg" alt="Sorry no image found"/>
                        </div>
                    <div class="DetailsClass">
                        <div class="NameClass"><b>@Html.DisplayFor(modelItem => item.firstName) @Html.DisplayFor(modelItem => item.lastName)</b></div>
                        <h6>@Html.DisplayFor(modelItem => item.username)</h6>
                            <h4>@Html.DisplayNameFor(Model=>Model.Salary) :@Html.DisplayFor(modelItem => item.Salary)</h4>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>