body {
}
.EmployeeContainer{
    display:flex;
    
}
.IndivitualEmployee {
    
    width: 600px;
    height: 150px;
    display: flex;
    background-color: #90f2f8;
    
    
}
.ImageClass{
    width:150px;
    height:100%;
    background-color:blue;
}
.NameClass{
    font-size:30px;

}
.PaddingClass {
    position: relative;
    left: 100px;
    width: fit-content;
    padding: 25px;
}
h6{
    font-size:15px;
}