﻿body {
}

.EmployeeContainer {
    display: flex;
    flex-wrap:wrap;
}

.IndivitualEmployee {
    width: 90%;
    height: 150px;
    display: flex;
    border: black solid 1px;
    border-radius: 20px 20px 20px 20px;
}

.ImageClass {
    width: 150px;
    height: 150px;
    
    border-radius: 20px 0px 0px 20px;
}
.ProfilePhoto {
   border-radius: 0 20px 0 20px;

}
.NameClass {
    font-size: 40px;
    border-bottom:black solid 1px;
}

.PaddingClass {
    position: relative;
    left: 100px;
    width: 100%;
    padding-bottom: 10px;
}
.TitleClass {
    font-size: 13px;
    margin-bottom: 0px;
}
.DetailsClass {
    width: 100%;
    
    border-radius: 0px 20px 20px 0px;
}
.ContactDetails {
    width:100%;
    display: flex;
}
.ContactDisplay{
    flex:1;
}
.TypeClass {
    width: 100%;
    display: flex;
}
.TableClass{
    display:none ;
}
.upperNavBar {
    display: flex;
}